{% assign exists = 0 %}
{% assign array =  | split:"," %}

{% for p in site.pages %}{% if p.layout == 'course' and p.reference_id != 'course-template' %}
  {% for t in p.tags %}
    {% capture tag %}{{ t }}{% endcapture %}

    {% for item in individual %}
	{% capture i %}{{ item }}{% endcapture %}
	{% if tag == i %}{% assign exists = 1 %}{% endif %}
    {% endfor %}

    {% if exists == 0 %}
	{% capture string %}{{ array | append:tag }}{% endcapture %}
	{% capture array %}{{ string | append:"," }}{% endcapture %}
    {% else %}
	{% assign exists = 0 %}
    {% endif %}

    {% assign individual =  array | split:"," %}

{% endfor %}{% endif %}{% endfor %}

{% assign final =  array | split:"," %}

<ul style="list-style: none;">
{% for item in final %}
<li><h2>{{ item }}<br></h2></li>

	<ul style="list-style: none;">
	{% for p in site.pages %}
	    {% if p.layout == 'course' %}
		{% for t in p.tags %}
			{% if t == item %}

				<li><h4><a href="{{site.baseurl}}{{p.url}}">{{p.title}}</a></h4></li>
  				{{p.abstract}}

	    	{% endif %}
		{% endfor %}
		{% endif %}
	{% endfor %}
	</ul>

{% endfor %}
</ul>

