{% assign topics_exist = false %}
{% for topic in page.topics %}
  {% for p in site.pages %}
    {% if p.reference_id == topic %}
      {% if p.layout == 'lesson' %}
        {% capture flag %}Lesson: {%endcapture%}
      {% elsif p.layout == 'tutorial' %}
        {% capture flag %}Tutorial: {%endcapture%}
      {% elsif p.layout == 'challenge' %}
        {% capture flag %}Challenge: {%endcapture%}
      {% else %}
        {% capture flag %}Unknown type: {%endcapture%}
      {% endif %}
      {% assign topics_exist = true %}
    {% endif %}
  {% endfor %}
{% endfor %}
{% if topics_exist == true%}
  <h3> Topics:</h3>
{% endif %}




<ol>
{% for topic in page.topics %}
  {% assign topic_found = false %}
  {% for p in site.pages %}
    {% if p.reference_id == topic %}
      {% if p.layout == 'lesson' %}
        {% capture flag %}Lesson: {%endcapture%}
      {% elsif p.layout == 'tutorial' %}
        {% capture flag %}Tutorial: {%endcapture%}
      {% elsif p.layout == 'challenge' %}
        {% capture flag %}Challenge: {%endcapture%}
      {% else %}
        {% capture flag %}Unknown type: {%endcapture%}
      {% endif %}
<li>{{flag}}<a href="{{site.baseurl}}{{p.url}}">{{p.title}}</a><br>{{p.abstract}}</li>
      {% assign topic_found = true %}
    {% endif %}
  {% endfor %}
  {% if topic_found == false%}
<li> {{topic}} [Topic not found]</li>
  {% endif %}
{% endfor %}
</ol>
