{% include header.html %}

<div class="row">


{% if page.previous %}
<div class="content-continaer col-md-9">
  <h2> Previous Courses </h2
  <ul>{% for prev in page.previous %}
    <li> <a href="{{site.baseurl}}/{{prev}}">Previous Course {{prev}}</a></li>
       {% endfor %}
  </ul>
</div>
{% endif %}




{% if page.requirements %}
<div class="content-continaer col-md-9">
  <h2> Required Skills </h2>
{% for prereq in page.requirements %}
  Skill: {{prereq}}<br>
  Provided by:
  <ul>
  {% for p in site.pages %}
    {% for s in p.skills %}{% if s == prereq %} <li> <a href="{{site.baseurl}}{{p.url}}">{{p.title}}</a></li>
{% endif %}{% endfor %}{% endfor %}{% endfor %}
  </ul>
</div>
{% endif %}


<div class="content-container col-md-9">

{% assign units_exist = false %}
{% for unit in page.units %}
  {% for p in site.pages %}  
      {% if p.layout == 'unit' and p.url contains unit%}
       {% assign units_exist = true %}
       {% endif %}
    {% endfor %}
{% endfor %}
{% if units_exist == true%}
  <h3> Units:</h3>
{% endif %}

<ol>
{% for unit in page.units %}
  {% assign unit_found = false %}
  {% for p in site.pages %}  
      {% if p.layout == 'unit' and p.url contains unit%}
<li> <a href="{{site.baseurl}}{{p.url}}">{{p.title}}</a><br>{{p.abstract}}</li>
       {% assign unit_found = true %}
       {% endif %}
    {% endfor %}
  {% if unit_found == false%}
<li> {{unit}} <br>[Unit not found]</li>
  {% endif %}
{% endfor %}
  </ol>

  {{ content }}


{% assign units_exist = false %}
{% for unit in page.units %}
  {% for p in site.pages %}  
      {% if p.layout == 'unit' and p.url contains unit%}
       {% assign units_exist = true %}
       {% endif %}
    {% endfor %}
{% endfor %}
{% if units_exist == true%}
  <h2> Units in {{page.title}} Course</h2>
{% endif %}

<ol>
{% for unit in page.units %}
  {% assign unit_found = false %}
  {% for p in site.pages %}  
      {% if p.layout == 'unit' and p.url contains unit%}
<li> <a href="{{site.baseurl}}{{p.url}}">{{p.title}}</a><br>{{p.abstract}}</li>
       {% assign unit_found = true %}
       {% endif %}
    {% endfor %}
  {% if unit_found == false%}
<li> {{unit}} <br>[Unit not found]</li>
  {% endif %}
{% endfor %}
  </ol>

  </div>
  <div class="sidebar-container col-md-3">
    {% include sidebar.html %}
  </div>
</div>

{% include footer.html %}
